{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} CONDITIONS GÉNÉRALES DE VENTE {% for i in 1|somme %} | {{ i.nom }} {% endfor %} {% endblock %}


{% block stylesheet %}

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('assets/front/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/styles/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/styles/contact_responsive.css') }}">

{% endblock %}

{% block banniere %} {% endblock %}

{% block content %}

    {% for c in cgv %}
        <!-- Header with Background Image -->
       {# <header class="business-header2">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="display-3 text-center text-white mt-4"> </h1>
                    </div>
                </div>
            </div>
        </header>#}

        <div class="home">
            <div class="home_container">
                <div class="home_background" style="background-image:url({{ asset('assets/front/images/certified.jpg') }})"></div>
                <div class="home_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content">
                                    <div class="breadcrumbs">
                                        <ul>
                                            <li><a href="#" > Acceuil </a></li>
                                            <li> CGV </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Page Content -->
        <div class="container contenu pages-visibility">

            <div class="row">
                {#<div class="col-sm-3">

                </div>#}

                    <div class="col-sm-12">
                        <h2 class="mt-4">{{ c.titre}}</h2>
                        <br>
                        <p class="texte-style"> {{ c.contenu | raw }}.</p>
                    </div>



            </div>
            <!-- /.row -->




        </div>
    {% endfor %}

    {#<div class="col-lg-12">
    {% for p in presentation %}


        <div class="card">

            <div class="card-body">
                <form class="form-horizontal">
                    <div class="table-responsive">
                        <table class="table" id="table">






                            <tr>
                                <td> Image </td>
                                <td> <img alt="pas d'image" src="{{ asset('uploads/') ~ p.path }}"  width="120" height="60"> </td>
                            </tr>
                            <tr>
                                <td> Titre </td>
                                <td> {{ p.titre}} </td>
                            </tr>
                            <tr>
                                <td> Contenu </td>
                                <td> {{ p.contenu}} </td>
                            </tr>




                        </table>

                    </div>
                </form>

            </div>

        </div>
        <br>
        <a class="ui icon button  primary" href="{{ path('presentation_edit', {'id' : p.id}) }}"><span class="btn info" aria-hidden="true"> Modifier </span></a>

        </div>
    {% endfor %}#}




{% endblock %}

{% block slider %} {% endblock %}


