{#<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Contact </title>
</head>
<body>#}

{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block title %} Contact {% for i in 1|somme %} | {{ i.nom }} {% endfor %} {#{{ parent() }}#}{% endblock %}

{% block content %}

    <h2> valider le message </h2>

    {{ form_start(form) }}

    <br>
    <div class="form-group row">
        <label class="col-sm-3 form-control-label"> Nom </label>
        <div class="col-sm-9">
            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 form-control-label"> Email </label>
        <div class="col-sm-9">
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 form-control-label"> Téléphone </label>
        <div class="col-sm-9">
            {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 form-control-label"> Message </label>
        <div class="col-sm-9">
            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
        </div>
    </div>

   {# <div class="form-group row">
        <label class="col-sm-3 form-control-label"> Lu </label>
        <div class="col-sm-9">
            {{ form_widget(form.publish, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
        </div>
    </div>#}

    <div class="form-group row">
        <div class="col-sm-4 offset-sm-3">
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
    </div>



{{ form_end(form) }}
{#

</body>
</html>#}

{% endblock %}