{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block title %} Mot president {% for i in 1|somme %} | {{ i.nom }} {% endfor %} {#{{ parent() }}#}{% endblock %}

{% block content %}

    <style>
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }

        tr:hover {background-color:#f5f5f5;}
    </style>

<h1> Mot president </h1>


    {% for m in motpresident %}

        <div class="col-lg-12">
            <div class="card">

                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="table-responsive">
                            <table class="table" id="table">


                                <tr>
                                    <td>Titre </td>
                                    <td> {{ m.titre}} </td>
                                </tr>
                                <tr>
                                    <td> Contenu </td>
                                    <td> {{ m.contenu}} </td>
                                </tr>

                            </table>

                        </div>
                    </form>

                </div>

            </div>
            <br>
            <a class="ui icon button  primary" href="{{ path('motpresident_edit', {'id' : m.id}) }}"><span class="btn info" aria-hidden="true"> Modifier </span></a>

        </div>
    {% endfor %}



{% endblock %}
