{#<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Ajout Mot president </title>
</head>
<body>#}

{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block title %} Mot president {% for i in 1|somme %} | {{ i.nom }} {% endfor %} {#{{ parent() }}#}{% endblock %}

{% block content %}

    <h1> Ajout Mot president </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{#
</body>
</html>#}

{% endblock %}
