{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} Nos marques {% for i in 1|somme %} | {{ i.nom }} {% endfor %} {#{{ parent() }}#}{% endblock %}

{% block stylesheet %}

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('assets/front/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/styles/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/styles/contact_responsive.css') }}">
    <script language="JavaScript" type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script language="JavaScript" type="text/javascript" href="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


{% endblock %}

{% block banniere %} {% endblock %}

{% block content %}


    <!-- Header with Background Image -->
    {#<header class="business-header3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-3 text-center text-white mt-4"> </h1>
                </div>
            </div>
        </div>
    </header>#}
    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url({{ asset('assets/front/images/brands.jpg') }})"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="#" > Acceuil </a></li>
                                        <li>Nos marques</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Content -->
    <div class="container contenu pages-visibility">

        <div class="row">
            {#<div class="col-sm-3">
            </div>#}

            {% for t in textmarque %}
                <div class="col-sm-12 texte-marque">
                    <h1>NOS MARQUES</h1>
                    <h2 class="mt-4">{{ t.titre }}</h2>
                    <p class="texte-style">{{ t.contenu }}.</p>
                </div>
            {% endfor %}

        </div>

        <form  action="{{ path('marque_products')}}" method="post">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-12">

            {% set count = 0 %}
                {% for m in marque %}
                    {% set count = count + 1 %}


                    <div class="col-lg-3 col-sm-3 my-3">
                        <div class="card" >
                            {#<input value="{{ m.marque}}" id="marque_name{{ count }}" name="marque_name_sjksjksjkjksh{{ count }}">#}
                            <a href="{{ path('marque_products_nom',{'nom':m.marque})}}" id="marque" ><img class="card-img-top img-marque" src="{{ asset('uploads/') ~ m.path }}" alt="La marque {{ m.marque}}"></a>
                            {#<a  href="{{ path('marque_products',{'nom':m.marque}) }}"type="submit" id="marque" >{{ m.marque}}</a>#}
                        </div>
                    </div>


            {% endfor %}
           {# <input value="{{ count }}" name="marque_count"style="display: none">#}




            </div>
            {#<input value="hp" id="marque_name" name="marque_name_sjksjksjkjksh">
            <button type="submit" id="marque" >fffff</button>#}
        </div>
        <!-- /.row -->
        </form>

    </div>
    <!-- /.container -->


{% endblock %}

{% block slider %} {% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
        $('#marque_name_tes').click( function () {

            var marque_name=  $('#marque_name').val();

         alert(marque_name);
           var data_send = {'marque_name':marque_name};
            $.ajax({
                url: '{{ path('marque_products') }}',
                type: 'POST',
                data: data_send,
                statusCode: {
                    //traitement en cas de succès
                    200: function (response) {
                        var successMessage = response;
                        console.log(successMessage);
                    },

                    412: function (response) {
                        var errorsForm = response.responseJSON.formErrors;
                        //on affiche les erreurs...
                        alert('error');

                    }
                }
            });
        });
        });
    </script>

{% endblock %}