{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} Nos marques {% for i in 1|somme %} | {{ i.nom }} {% endfor %} {#{{ parent() }}#}{% endblock %}

{% block stylesheet %}

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('assets/front/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/styles/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/styles/contact_responsive.css') }}">

{% endblock %}

{% block banniere %} {% endblock %}

{% block content %}


    <!-- Header with Background Image -->
    {#<header class="business-header3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-3 text-center text-white mt-4"> </h1>
                </div>
            </div>
        </div>
    </header>#}
    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url({{ asset('assets/front/images/brands.jpg') }})"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="#" > Acceuil </a></li>
                                        <li>Nos marques</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Content -->
    <div class="container contenu pages-visibility">


        <div class="row">
            {#<div class="col-sm-3">
            </div>#}
            jjjjjjjjj
            <div class="col-sm-12">
            {% for p in product %}
                <div class="col-lg-3 col-sm-3 my-3">
                    <div class="card">
                        test
                        {{ p.id }}
                       {#<a href="{{ path('marque_products')}}" target="_blank" ><img class="card-img-top img-marque" src="{{ asset('uploads/') ~ m.path }}" alt="La marque {{ m.marque}}"></a>#}
                    </div>
                </div>
            {% endfor %}

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}

{% block slider %} {% endblock %}